{% extends 'layout.html'%}

{% block body %}


    
<div class="container">
  <div class="jumbotron">
    <h1 class="text-center">DAG Simulator</h1> 
    
  </div>
</div>



<div style="margin-top: -80px;" class="container">
  <div class="row">
<div class="card-group">
  <div class="card">
    
    <div class="card-body">
        
      <h5 class="card-title">General</h5>
        <br />
        
        
        <div class="container">
        <div class="row">
        <div class="col-3">
         <p># tx</p>
        </div>
        <div class="slidecontainer col-9">
           
             <input class="slider" type="range" min="1" max="100" value="1" step="1" oninput="document.getElementById('tx').innerText = parseInt(this.value);tx=parseInt(this.value)">
	       <output id="tx">1</output>
        </div>
      </div>
       </div> 
        
        <br />
        <div class="container">
        <div class="row">
        <div class="col-3">
         <p>lambda</p>
        </div>
        <div class="slidecontainer col-9">
           
             <input class="slider" type="range" min="1" max="100" value="1" step="1" oninput="document.getElementById('lambda').innerText = parseInt(this.value);lambda=parseInt(this.value)">
	       <output id="lambda">1</output>
        </div>
      </div>
       </div> 
        
        
   
        
        <br />
        
        <div class="container">
        <div class="row">
        <div class="col-3">
         <p># agents</p>
        </div>
        <div class="slidecontainer col-9">
           
             <input class="slider" type="range" min="1" max="100" value="1" step="1" oninput="document.getElementById('agents').innerText = parseInt(this.value);agents=parseInt(this.value)">
	       <output id="agents">1</output>
        </div>
      </div>
        </div>
         <br />
        
           <div class="container">
        <div class="row">
        <div class="col-3">
         <p>DAG</p>
        </div>
        <select style="width: 320px;" onchange="test(this);">
          <option value="PHANTOM">PHANTOM</option>
          <option value="SPECTRE">SPECTRE</option>
          <option value="IOTA">IOTA</option>
        </select>
      </div>
        </div>
        
        
      
    </div>
  </div>
    
    
  <div class="card">
   
    <div class="card-body">
      <h5 class="card-title">Advanced</h5>
         <br />
        <p class="card-text">Choose tip selection algorithm</p>
         <div class="container">
        <div class="row">
            <div class="col-sm">
          <input type="radio" name="tipalgo" value="weighted" checked> Weighted<br>
                </div>
            <div class="col-sm">
          <input type="radio" name="tipalgo" value="unweighted"> Unweighted<br>
             </div>
                <div class="col-sm">
          <input type="radio" name="tipalgo" value="random"> Random
                </div>
        </div>
             </div>
        
             <div class="container">
         <div class="row">
        <div class="col-3">
         <p>alpha</p>
        </div>
        <div class="slidecontainer col-9">
           
            <input class="slider" type="range" min="1" max="100" value="1" step="1" oninput="document.getElementById('alpha').innerText = parseInt(this.value);alpha=parseInt(this.value)">
	       <output id="alpha">1</output>	
        </div>
      </div>
       </div>
        
        
            <div style="margin-top: 30px;" class="container">
        <div class="row">
        <div class="col-4">
         <p>Network split</p>
        </div>
        <div style="border: 1px black;" class="col-8 text-center">
           <p>200tx</p>
            
        </div>
      </div>
        </div>
        
        <div style="margin-top: 30px;" class="container">
        <div class="row">
        <div class="col-4">
         <p>Network connected</p>
        </div>
        <div style="border: 1px black;" class="col-8 text-center">
           <p>500tx</p>
            
        </div>
      </div>
        </div>
      
  </div>
</div>
  </div>
</div>
</div>



<div class="container">
  <div class="row">
<div style="width: 100%;" class="card-group">
  <div class="card">
   
    <div class="card-body">
        <div class="col-sm-12 text-center">
      <button onclick="getData('weighted')" type="button" class="btn btn-primary">Simulate</button>
            </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="col-sm-12 text-center">
      <button type="button" class="btn btn-primary">Export</button>
            </div>
    </div>
  </div>
</div>
</div>
</div>


<div style="margin-right: 85px;" class="container">

   
   
        
        <svg id="DAG" width=1135 height=400>
          <g/>
        </svg>

</div>


<div class="container">
  <div class="row">
<div class="card-group">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">

    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
 
</div>
</div>
</div>
{% endblock %}